@page "/"

<PageTitle>Home</PageTitle>

<div class = "home-page">
    <h1>Welcome to Get Fit!</h1>
    <p class="description">
        Get Fit is your personal workout planner designed to help you track your fitness goals, create custom workout plans, and stay motivated. Whether you're a beginner or a seasoned athlete, we've got the tools to take your fitness journey to the next level.
    </p>
</div>